<form class="login-form">
  <span class="login-form-logo">
    <img
      src="assets/img/logo.png"
      alt="Disk Rentalz"
      style="height: 50px; width: 100px;"
    />
  </span>
  <span class="login-form-title">
    Log in
  </span>
  <formly-form [form]="form" [fields]="fields" [model]="model">
    <div class="form-group">
      <button
        type="submit"
        class="btn btn-primary pull-right"
        [disabled]="!form.valid || loading"
      >
        <i class="fa fa-spinner fa-spin" aria-hidden="true" *ngIf="loading"></i>
        Submit
      </button>
    </div>
  </formly-form>
  <div class="clearfix"></div>
  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  <div class="version text-center">
    <hr />
    <div>{{ appEnv | uppercase }}-v{{ appVersion }}</div>
  </div>
</form>
