.logo-container {
  width: 80%;
  margin: 0 auto;
}

.logo-container img {
  width: 100%;
  margin: 0 auto;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .logo-container {
    width: 60%;
  }
}
