.login-form {
  width: 100%;
}

.login-form-pad {
  padding-top: 50px;
}

.login-form-logo {
  font-size: 60px;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.logo-img {
  width: 250px;
}

.version {
  color: #333333;
  line-height: 1.2;
  text-transform: uppercase;
  display: block;
  text-align: right;
  font-size: 10px;
}

.submit-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}
