<!-- <form class="form-signin" [formGroup]="form" (ngSubmit)="submit(model)">
  <div class="form-group logo-container">
    <img src="/assets/img/pathfinder_logo.png" alt="Pathfinder" />
  </div>
  <hr />
  <div class="form-group text-center"><h2>Login</h2></div>
  <formly-form [form]="form" [fields]="fields" [model]="model">
    <div class="form-group">
      <a [routerLink]="['/auth/forgot-password']" class="btn btn-link"
        >Forgot Password?</a
      >
      <button
        type="submit"
        class="btn btn-primary pull-right"
        [disabled]="!form.valid || loading"
      >
        <i class="fa fa-spinner fa-spin" aria-hidden="true" *ngIf="loading"></i>
        Submit
      </button>
    </div>
  </formly-form>
  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  <div class="version text-center">
    <hr />
    <div>{{ appEnv | uppercase }}-v{{ appVersion }}</div>
  </div>
</form> -->
<p>Login form</p>
