<form class="login-form">
  <span class="login-form-logo">
    <img src="assets/img/logo.png" alt="Disk Rentalz" class="logo-img" />
  </span>
  <div class="login-form-pad"></div>
  <formly-form [form]="form" [fields]="fields" [model]="model">
    <div class="submit-btn">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid || loading"
      >
        <i class="fa fa-spinner fa-spin" aria-hidden="true" *ngIf="loading"></i>
        Submit
      </button>
    </div>
  </formly-form>
  <div class="clearfix"></div>
  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  <div class="version">
    <div>{{ appEnv | uppercase }}-v{{ appVersion }}</div>
  </div>
</form>
