<mat-toolbar class="example-footer">
  <footer class="main-footer">
    <div class="main-footer-container">
      <strong class="pad"
        >©2019
        <a href="http://www.diskrentalz.com/" target="_blank"
          >Disk Rentalz.</a
        ></strong
      >
      All Rights Reserved.
      <a href="" target="_blank" class="pad">Privacy Policy</a>
      |
      <a href="" target="_blank" class="pad">Terms Of Use</a>
    </div>
    <div class="version">{{ appEnv | uppercase }}-v{{ appVersion }}</div>
  </footer>
</mat-toolbar>
