<div>
  <div>
    <mat-toolbar color="primary">
      Sales By Store
    </mat-toolbar>
    <mat-card>
      <div *ngIf="salesByStore$ | async as salesByStore" style="height: 250px;">
        <ngx-charts-bar-horizontal
          [results]="salesByStore"
          [scheme]="salesByStoreConfig.colorScheme"
          [gradient]="salesByStoreConfig.gradient"
          [xAxis]="salesByStoreConfig.showXAxis"
          [yAxis]="salesByStoreConfig.showYAxis"
          [showXAxisLabel]="salesByStoreConfig.showXAxisLabel"
          [showYAxisLabel]="salesByStoreConfig.showYAxisLabel"
          [xAxisLabel]="salesByStoreConfig.xAxisLabel"
          [yAxisLabel]="salesByStoreConfig.yAxisLabel"
          [roundDomains]="salesByStoreConfig.roundDomains"
          [legend]="salesByStoreConfig.showLegend"
          [showDataLabel]="salesByStoreConfig.showDataLabel"
          [barPadding]="salesByStoreConfig.barPadding"
        >
        </ngx-charts-bar-horizontal>
      </div>
    </mat-card>
  </div>
  <div>
    <mat-toolbar color="primary">
      Sales By Film Category
    </mat-toolbar>
    <mat-card>
      <div *ngIf="salesByFilmCategory$ | async as salesByFilmCategory">
        <ngx-charts-bar-horizontal
          [results]="salesByFilmCategory"
          [scheme]="salesByFilmCategoryConfig.colorScheme"
          [schemeType]="salesByFilmCategoryConfig.schemeType"
          [gradient]="salesByFilmCategoryConfig.gradient"
          [xAxis]="salesByFilmCategoryConfig.showXAxis"
          [yAxis]="salesByFilmCategoryConfig.showYAxis"
          [showXAxisLabel]="salesByFilmCategoryConfig.showXAxisLabel"
          [showYAxisLabel]="salesByFilmCategoryConfig.showYAxisLabel"
          [xAxisLabel]="salesByFilmCategoryConfig.xAxisLabel"
          [yAxisLabel]="salesByFilmCategoryConfig.yAxisLabel"
          [roundDomains]="salesByFilmCategoryConfig.roundDomains"
          [legend]="salesByFilmCategoryConfig.showLegend"
          [showDataLabel]="salesByFilmCategoryConfig.showDataLabel"
          [barPadding]="salesByFilmCategoryConfig.barPadding"
        >
        </ngx-charts-bar-horizontal>
      </div>
    </mat-card>
  </div>
</div>
