<section class="overview padding-all">
  <div class="box box-solid">
    <div class="box-header">
      <h3 class="box-title">Overview</h3>
      <div class="box-tools pull-right">
        <button
          type="button"
          class="btn btn-default btn-sm"
          data-widget="remove"
        >
          <i class="material-icons">
            clear
          </i>
        </button>
      </div>
    </div>
    <div class="box-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus tempor
      erat. Etiam varius elit vel diam rutrum, eu scelerisque massa facilisis.
      Curabitur vel scelerisque nisl. Aliquam sit amet porta nisl. Mauris odio
      nisi, scelerisque in aliquam nec, pharetra vel velit. Fusce molestie, odio
      id mollis elementum, tortor libero luctus neque, in interdum nulla neque
      non lectus. Cras dapibus lacus et iaculis dignissim. Proin sit amet
      interdum est, et posuere erat. Suspendisse nec aliquet velit. Etiam ut
      tristique nulla, eu cursus mi. Mauris ut faucibus tortor, eleifend luctus
      erat. Maecenas nec libero felis. Duis a pretium velit. Nullam arcu justo,
      lobortis dictum tellus vitae, tincidunt fringilla ante. Etiam faucibus mi
      quis lorem laoreet placerat. Nam nec nisi fringilla, dignissim dui mollis,
      pulvinar eros.
    </div>
  </div>
</section>
