<div>
  <mat-toolbar color="primary">
    <mat-icon>person</mat-icon> Customers
  </mat-toolbar>
  <mat-accordion class="search-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Search Form
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="search-container">
        <form [formGroup]="searchForm" (ngSubmit)="getData()">
          <div
            class="container"
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutWrap
            fxLayoutGap="5%"
            fxLayoutAlign="start stretch"
          >
            <div fxFlex="20%">
              <mat-form-field>
                <mat-label>First Name</mat-label>
                <input
                  matInput
                  placeholder="Enter first name"
                  formControlName="firstName"
                />
              </mat-form-field>
            </div>
            <div fxFlex="20%">
              <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input
                  matInput
                  placeholder="Enter last name"
                  formControlName="lastName"
                />
              </mat-form-field>
            </div>
            <div fxFlex="20%">
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input
                  matInput
                  placeholder="Enter email"
                  formControlName="email"
                />
              </mat-form-field>
            </div>
            <div fxFlex="20%">
              <mat-checkbox formControlName="active">Active</mat-checkbox>
            </div>
          </div>
          <div
            class="container"
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutWrap
            fxLayoutGap="2.5%"
            fxLayoutAlign="center"
          >
            <span fxFlex="90%"></span>
            <button
              mat-raised-button
              color="warning"
              type="button"
              fxFlex="10%"
              (click)="reset()"
            >
              Reset
            </button>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="loading"
              fxFlex="10%"
            >
              <i class="material-icons" *ngIf="loading">
                autorenew
              </i>
              Search
            </button>
          </div>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div *ngIf="data">
    <mat-toolbar> All Customers ({{ data?.totalRecords }}) </mat-toolbar>
    <table mat-table [dataSource]="data.data" class="mat-elevation-z8">
      <ng-container
        *ngFor="let columnDef of columnDefinitions"
        [matColumnDef]="columnDef.key"
      >
        <th mat-header-cell *matHeaderCellDef>{{ columnDef.title }}</th>
        <td mat-cell *matCellDef="let element">
          <ng-container [ngSwitch]="columnDef.type">
            <ng-container *ngSwitchCase="'days'">
              {{ element[columnDef.key] }} days
            </ng-container>
            <ng-container *ngSwitchCase="'rate'">
              $ {{ element[columnDef.key] }}
            </ng-container>
            <ng-container *ngSwitchCase="'length'">
              {{ element[columnDef.key] | length }}
            </ng-container>
            <ng-container *ngSwitchCase="'date'">
              {{ element[columnDef.key] | checkDate }}
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ element[columnDef.key] }}
            </ng-container>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="headerRowDefinitions"></tr>
      <tr mat-row *matRowDef="let row; columns: headerRowDefinitions"></tr>
    </table>

    <mat-paginator
      [length]="data.totalRecords"
      [pageIndex]="pagination.pageNo"
      [pageSize]="pagination.pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      showFirstLastButtons="true"
      (page)="pageOptionsChanged($event)"
    >
    </mat-paginator>
  </div>
</div>
